.productImage {
  object-fit: fill;
}
.blogCard {
  height: 485px;
  width: 555px;
  border-radius: 10px;
  text-align: left;
  margin-right: 40px;
}
.productInfo {
  color: white;
  position: absolute;
  text-align: center;
}
.mainProduct {
  margin-bottom: 50px;
}
